:root {
    --bg: #2C2C2C;
    --text: #ffffff;
    --sidebar-bg: #262626;
    --scroll-border: #808080;
    --scroll-hover: #ffffff;
    --scroll-bg: #2095DB;
    --card-bg: #2C2C2C;
    --card-shadow: #000000bf;
    --card-help-bg: #2095DB;
    --btn-history-selected: #2095DB;    
    --btn-history-selected-text: #262626;    
    --btn-history-not-selected: #262626;
    --btn-history-not-selected: #262626;
    --btn-history-not-selected-hover: #ffffff;
    --btn-history-color: #333;
    --card-shadow-info: #808080;
    --card-btn-restart: #2095DB;
    --card-btn-restart-border:  #1ac6ff;
    --card-btn-restart-disabled: #2095DB;
    --card-btn-restart-border-disabled:  #1ac6ff;
    --card-btn-restart-bg-hover: #ffffff;
    --card-btn-restart-hover-text: #2095DB;
    --card-btn-restart-hover-border: #ffffff;
    --card-btn-restart-bg-hover: #ffffff;
    --card-btn-restart-hover-text: #2095DB;
    --card-btn-restart-hover-border: #ffffff;
    --btn-disabled: #cccccc;
    --btn-text-disabled: #666666;
    --high-score-text: #ffcc00;
    --progress-bg: #ddd;
    --progress-value: #2095DB;
    --btn-options-bg: #fff;
    --btn-options-border: #2095DB;
    --btn-options-text: #2095DB;
    --btn-options-bg-hover: #2095DB;
    --btn-options-border-hover: #fff;
    --btn-options-text-hover: #fff;
    --btn-start-bg: #fff;
    --btn-start-border: #2095DB;
    --btn-start-text: #2095DB;
    --btn-start-bg-hover: #2095DB;
    --btn-start-border-hover: #fff;
    --btn-start-text-hover: #fff;
    --btn-delete-bg: #262626;
    --btn-delete-text: #fff;;
    --btn-delete-border: #262626;
    --btn-delete-shadow: #fff;
    --btn-delete-bg-hover: #fff;
    --btn-delete-text-hover: #ff0000;
  }