.sidebar {
  height: 100vh;
  width: 550px;
  background-color: var(--sidebar-bg);
}

.header {
  display: flex;
  flex-direction: column;
}

.header p {
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}

.btn-tab {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-evenly;
}

.button-selected {
  width: 45%;
  height: 50px;
  background-color: var(--btn-history-selected);
  color: var(--btn-history-selected-text);
  font-weight: bold;
  font-size: 20px;
  border: 0.5px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button-not-selected {
  width: 45%;
  height: 50px;
  background-color: var(--btn-history-not-selected);
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button-selected:hover {
 background-color: var(--btn-history-selected-hover);
 color: #fff;
 cursor: pointer;
 font-size: 15px;
}
.button-not-selected:hover {
  background-color: aliceblue;
  color: var( --btn-history-color);
  cursor: pointer;
  font-size: 15px;
}

.sub-title-sidebar {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sub-title-sidebar p {
  font-size: 18px;
}

ul {
  height: calc(100vh - 170px);
  overflow-y: scroll;
  list-style: none;
  width: 98%;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.list-items {
  display: flex;
  flex-direction: row;
}

.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #444654;
  border-radius: 8px;
  padding: 16px;
  width: 90%;
}

.card-result{
  display: flex;
  align-self: center;
  width: 30%;
  height: 50px;
  border-radius:8px;
  align-items: center;
  justify-content: center;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -ms-border-radius:8px;
  -o-border-radius:8px;
}


.no-history {
  display: flex;
  align-self: center;
  background-color:#444654;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  width: 90%;
}

.scoreText {
  font-size: 30px;
  margin-top: 8px;
}


/*scroll style*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--scroll-border);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);
}