.sidebar {
  height: 100vh;
  width: 550px;
  background-color: var(--sidebar-bg);
}

.header {
  display: flex;
  flex-direction: column;
}

.header p {
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
}

.btn-tab {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  justify-content: space-evenly;
}

.button-selected {
  width: 45%;
  height: 50px;
  background-color: var(--btn-history-selected);
  font-size: 15px;
  border: 0.5px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button-not-selected {
  width: 45%;
  height: 50px;
  background-color: var(--btn-history-not-selected);
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button-selected:hover {
 background-color: var(--btn-history-selected-hover);
 cursor: pointer;
 font-size: 15px;
}
.button-not-selected:hover {
  background-color: aliceblue;
  color: var( --btn-history-color);
  cursor: pointer;
  font-size: 15px;
}

.sub-title-sidebar {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sub-title-sidebar p {
  font-size: 18px;
}

ul {
  height: calc(100vh - 170px);
  overflow-y: scroll;
}

li {
  margin-top: 10px;
}

.list-items {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--scroll-border);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--scroll-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-hover);

}