
* {

  margin: 0;
  font-family: 'Righteous', cursive;
  color: var(--text);
}

body {
  background-color: var(--bg);
}

/* body p {
  text-shadow: 0 0 5px aqua;
} */

.container {
  display: flex;
  flex-direction: row;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}