* {
  margin: 0;
  font-family: 'Righteous', cursive;
  color: #fff;
}

body {
  background-color: #2C2C2C;
}

.container {
  display: flex;
  flex-direction: row;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}